<section class="bg-gray-900 h-screen w-full">
  <div class="flex h-auto w-full bg-gray-950 justify-between rounded-lg">
    <h1 class="p-3 text-3xl font-bold text-white">
      Image Gallery
    </h1>
    <select class="m-3 bg-gray-800 rounded-lg border-none text-white" (change)="selectedCategory($event)">
      <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
    </select>
  </div>
  <section class="image-gallery">
    <app-image-gallery [data]="image" [selectedCategories]="categorySelected"></app-image-gallery>
  </section>
</section>